html {

}

body {

}

.main {
	padding-top: 81px;
}

.h3 {
	line-height: 1.2;
}

html, body {
	height: 100%;
}

.wrap-for-sticky {
	box-sizing: border-box;
	position: relative;
	min-height: 100%;
}


@media screen and (max-width:991px) {
	.container {
		max-width: 100%;
	}
	.main{
		padding-top: 60px;
	}
}