// keep aspect ratio of image
.img-wrap {
	position: relative;
	background-color: $black;

	&.-ratio-16-9 {
		padding-bottom: 56.25%;
	}

	&.-ratio-4-3 {
		padding-bottom: 75%;
	}

	&.-ratio-1-1 {
		padding-bottom: 100%;
	}

	& > img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// responsive background image
.-resp-bg-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include rbg;
}

// background color for embed video
.embed-responsive {
	background-color: $black;
}

// vertical text top - bottom
.-vertical-text-top-bottom {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	display: inline-block;
	margin: 0;
}

// vertical text bottom - top
.-vertical-text-bottom-top {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	transform: rotate(180deg);
	display: inline-block;
	margin: 0;
}


.right-line {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		width: 1px;
		height: calc(100% + 10px);
		background-color: $secondary;
		top: 0;
		right: 0;
	}
	&.-modal {
		&:before {
			height: calc(100% + 72px);
			top: -32px;
		}
	}
}

.-bg-secondary{
	background: $secondary;
}


.light-blue {
	color: $light-blue;
}

.dark-blue {
	color: $dark-blue;
}

.yellow {
	color: $warning;
}

<<<<<<< HEAD
.fz-16{
	font-size: 16px;
}
.-max-width_240{
	max-width: 240px;
	width: 100%;
=======
.min-w-9 {
	min-width: 9rem !important;
}

.min-w-10 {
	min-width: 10rem !important;
}


.icon-silence {
	display: inline-block;
	margin-left: 5px;
	width: 20px;
	height: 20px;
	background-image: url(../img/emoji.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
>>>>>>> 0c2e910854e3e4f23f36ccb0ec1d30b9f7988e9a
}