doctype html
html(lang='en')
	head
		title ShiftNow
		meta(name='description', content='Description of the site')
		include modules/head.pug
	body
		include modules/header.pug
		// CONTENT
		main.main
			section.section-top
				.container
					.row.justify-content-center
						.col-lg-8
							h3.h3.text-center
								| We are ShiftNow — The platform for easy and anonymous instant exchange of any cryptocurrency
			section.section-advantages
				.container
					.advantages-wrap
						.advantages-item
							.advantages-item-heading
								h5.text-center.dark-blue
									| No Sign Ups
							.advantages-item-img-wrap
								img(src="img/advantages/no-sign-ups.svg" alt='no-sign-ups')
							.advantages-item-descr
								p.text-center
									| Exchange your funds anonymously. No personal data or sign-ups required.
						.advantages-item
							.advantages-item-heading
								h5.text-center.dark-blue
									| User-friendly
							.advantages-item-img-wrap
								img(src="img/advantages/user-friendly.svg" alt='user-friendly')
							.advantages-item-descr
								p.text-center
									| Enjoy our effortless step-by-step exchange process and 24/7 support.
						.advantages-item
							.advantages-item-heading
								h5.text-center.dark-blue
									| Limitless
							.advantages-item-img-wrap
								img(src="img/advantages/limitless.svg" alt='limitless')
							.advantages-item-descr
								p.text-center
									| We have no limitations. Exchange any amount. Just make sure your bank account covers all the blockchain fees.
						.advantages-item
							.advantages-item-heading
								h5.text-center.dark-blue
									| Cards-compatible
							.advantages-item-img-wrap
								img(src="img/advantages/card-compatible.svg" alt='card-compatible')
							.advantages-item-descr
								p.text-center
									| Use Visa or MasterCard to easily exchange your fortune.
						.advantages-item
							.advantages-item-heading
								h5.text-center.dark-blue
									| Honest fees
							.advantages-item-img-wrap
								img(src="img/advantages/honest-fees.svg" alt='honest-fees')
							.advantages-item-descr
								p.text-center
									| From start to finish, every step is transparent. We show all the fees before you exchange.
					include modules/try-now-btn.pug
		// CONTENT END
		include modules/footer.pug
		include modules/scripts.pug