doctype html
html(lang='en')
  head
    title ShiftNow
    meta(name='description', content='Description of the site')
    include modules/head.pug
  body
    include modules/header.pug
    // CONTENT
    main.main
      section.section.section-welcome
        .container
          .row
            .col-md-6
              h1
                | Exchange
            .col-md-5.offset-md-1
              form.exchange-block(action="javascript:void(0);")
                .form-group_wrapper
                  .form-group
                    input.form-control.form-control-lg.-submit.-custom-select.text-right(type='text')
                    button.btn-submit Send
                  .custom-select.js-custom-select
                    .currency-item.-lg
                      .currency-icon
                        i.icon-bitcoin-btc
                      .currency-title BTC
                    i.fas.fa-angle-down.-icon-open
                  .custom-dropdown
                    button.custom-dropdown_close.js-custom-dropdown_close
                      i.fas.fa-angle-up
                    .form-group.-icon.-icon-right.-search.mb-0
                      input.form-control.form-control-lg.custom-dropdown_search.js-filter-search(type='text' , placeholder="Type a currency")
                      i.fas.fa-search.form-control_icon
                    .custom-dropdown_content
                      .row.no-gutters
                        .col-6
                          h6.custom-dropdown_title Popular currencies
                          ul.currency-list
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-bitcoin-btc
                                .currency-title BTC
                                .currency-subtitle Bitcoin
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-ethereum-eth
                                .currency-title ETH
                                .currency-subtitle Ethereum
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                    i.icon-litecoin-ltc
                                .currency-title LTC
                                .currency-subtitle Litecoin
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-ripple-xrp
                                .currency-title XRP
                                .currency-subtitle Ripple
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-dollar-usd
                                .currency-title USD
                                .currency-subtitle US Dollar

                        .col-6
                          h6.custom-dropdown_title All other currencies
                          ul.currency-list.js-filter-list
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-bitcoin-btc
                                .currency-title BTC
                                .currency-subtitle Bitcoin
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-ethereum-eth
                                .currency-title ETH
                                .currency-subtitle Ethereum
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-litecoin-ltc
                                .currency-title LTC
                                .currency-subtitle Litecoin
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-ripple-xrp
                                .currency-title XRP
                                .currency-subtitle Ripple
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-dollar-usd
                                .currency-title USD
                                .currency-subtitle US Dollar
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-bitcoin-cash-bch
                                .currency-title BTH
                                .currency-subtitle Bitcoin Cash
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-dogecoin-doge
                                .currency-title DOGE
                                .currency-subtitle Dogecoin
                            li
                              a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
                                .currency-icon
                                  i.icon-nem-xem
                                .currency-title XEM
                                .currency-subtitle NEM
                .custom-acc
                  #headingOne.custom-acc_header
                      button.btn.btn-link(data-toggle='collapse', data-target='#acc_exchange', aria-expanded='false', aria-controls='acc_exchange')
                        i.icon-icon-expand
                        span
                          | Show fee breakdown
                  #acc_exchange.collapse(aria-labelledby='headingOne',)
                    .custom-acc_body
                      ul.fee-list
                        li.fee-item
                          span.fee-value ~ 0.08505 ETH
                          span.fee-title Service fee
                        li.fee-item
                          span.fee-value 1 BTC ~ 17.011131 ET
                          span.fee-title Expected exchange rate


    // CONTENT END
    include modules/footer.pug
    include modules/scripts.pug
