doctype html
html(lang='en')
  head
    title ShiftNow
    meta(name='description', content='Description of the site')
    include modules/head.pug
  body
    include modules/header.pug
    // CONTENT
    main.main
      section.section
        .container
          //- h1 Heading1
    // CONTENT END
    include modules/footer.pug
    include modules/scripts.pug
