doctype html
html(lang='en')
	head
		title ShiftNow
		meta(name='description', content='Description of the site')
		include modules/head.pug
	body
		include modules/header.pug
		// CONTENT
		.wrap-for-sticky.js-wrap-for-sticky.-bg-secondary
			main.main
				section.section.section-processing
					.container
						.steps-wrap
							.steps-item.js-step-item.active.open(data-step="1")
								.steps-header
									.row
										.col-md-1
											.steps-num 1
										.col-md-10.d-flex.align-items-center
											h5.steps-title Enter Amount & Address
								.steps-body
									.row
										.col-md-10.offset-md-1
											.steps-content
												.row
													.col-md-6
															form.exchange-block(action="javascript:void(0);")
																.form-group_wrapper.mb-3.js-send-value.-border
																	.form-group.mb-0
																		input.form-control.form-control-lg.-submit.-custom-select.text-right.js-custom-select-value(type='text')
																		button.btn-submit Send
																	.custom-select.js-custom-select
																		.currency-item.-lg
																			.currency-icon
																				i.icon-bitcoin-btc
																			.currency-title BTC
																		i.fas.fa-angle-down.-icon-open
																	.custom-dropdown
																		button.custom-dropdown_close.js-custom-dropdown_close
																			i.fas.fa-angle-up
																		.form-group.-icon.-icon-right.-search.mb-0
																			input.form-control.form-control-lg.custom-dropdown_search.js-filter-search(type='text' , placeholder="Type a currency")
																			i.fas.fa-search.form-control_icon
																		.custom-dropdown_content
																			.row.no-gutters
																				.col-6
																					h6.custom-dropdown_title Popular currencies
																					ul.currency-list
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-bitcoin-btc
																								.currency-title BTC
																								.currency-subtitle Bitcoin
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-ethereum-eth
																								.currency-title ETH
																								.currency-subtitle Ethereum
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																										i.icon-litecoin-ltc
																								.currency-title LTC
																								.currency-subtitle Litecoin
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-ripple-xrp
																								.currency-title XRP
																								.currency-subtitle Ripple
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-dollar-usd
																								.currency-title USD
																								.currency-subtitle US Dollar

																				.col-6
																					h6.custom-dropdown_title All other currencies
																					ul.currency-list.js-filter-list
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-bitcoin-btc
																								.currency-title BTC
																								.currency-subtitle Bitcoin
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-ethereum-eth
																								.currency-title ETH
																								.currency-subtitle Ethereum
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-litecoin-ltc
																								.currency-title LTC
																								.currency-subtitle Litecoin
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-ripple-xrp
																								.currency-title XRP
																								.currency-subtitle Ripple
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-dollar-usd
																								.currency-title USD
																								.currency-subtitle US Dollar
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-bitcoin-cash-bch
																								.currency-title BTH
																								.currency-subtitle Bitcoin Cash
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-dogecoin-doge
																								.currency-title DOGE
																								.currency-subtitle Dogecoin
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-nem-xem
																								.currency-title XEM
																								.currency-subtitle NEM
																.exchange-info
																	.exchange-swap.js-exhange-swap.-border
																		img(src="./img/icons/dark.svg", alt="")
																.form-group_wrapper.mt-3.js-get-value.-border
																	.form-group.mb-0
																		input.form-control.form-control-lg.-submit.-custom-select.text-right.js-custom-select-value(type='text')
																		button.btn-submit Get
																	.custom-select.js-custom-select
																		.currency-item.-lg
																			.currency-icon
																				i.icon-ethereum-eth
																			.currency-title ETH
																		i.fas.fa-angle-down.-icon-open
																	.custom-dropdown
																		button.custom-dropdown_close.js-custom-dropdown_close
																			i.fas.fa-angle-up
																		.form-group.-icon.-icon-right.-search.mb-0
																			input.form-control.form-control-lg.custom-dropdown_search.js-filter-search(type='text' , placeholder="Type a currency")
																			i.fas.fa-search.form-control_icon
																		.custom-dropdown_content
																			.row.no-gutters
																				.col-6
																					h6.custom-dropdown_title Popular currencies
																					ul.currency-list
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-bitcoin-btc
																								.currency-title BTC
																								.currency-subtitle Bitcoin
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-ethereum-eth
																								.currency-title ETH
																								.currency-subtitle Ethereum
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																										i.icon-litecoin-ltc
																								.currency-title LTC
																								.currency-subtitle Litecoin
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-ripple-xrp
																								.currency-title XRP
																								.currency-subtitle Ripple
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-dollar-usd
																								.currency-title USD
																								.currency-subtitle US Dollar

																				.col-6
																					h6.custom-dropdown_title All other currencies
																					ul.currency-list.js-filter-list
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-bitcoin-btc
																								.currency-title BTC
																								.currency-subtitle Bitcoin
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-ethereum-eth
																								.currency-title ETH
																								.currency-subtitle Ethereum
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-litecoin-ltc
																								.currency-title LTC
																								.currency-subtitle Litecoin
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-ripple-xrp
																								.currency-title XRP
																								.currency-subtitle Ripple
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-dollar-usd
																								.currency-title USD
																								.currency-subtitle US Dollar
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-bitcoin-cash-bch
																								.currency-title BTH
																								.currency-subtitle Bitcoin Cash
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-dogecoin-doge
																								.currency-title DOGE
																								.currency-subtitle Dogecoin
																						li
																							a.currency-item.-currency-link.js-currency-link(href="javascript:void(0);")
																								.currency-icon
																									i.icon-nem-xem
																								.currency-title XEM
																								.currency-subtitle NEM
													.col-md-6.d-flex
														.card.-pd-sm.d-flex
															.info-detail.-full-height
																.info-item
																	.info-title Expected change rate
																	.info-descr 1 BTC ≈ 16.30208 ETH
																.info-item
																	.info-title Exchange fee (1.5%)
																	.info-descr 0.1124345356424523123 ETH
																.info-item
																	.info-title Estimated arrival
																	.info-descr ≈ 5-30 minutes
													.col-md-12
															form
																.form-group.mb-0.mt-5.card-input
																	label Address
																	input.form-control.form-control-lg(type="text" , placeholder="Enter the recipient's ETH address")
													.col-md-12
														a(href="javascript:void(0);").btn.btn-lg.btn-primary.-max_width_170.js-step-next.mt-5 next
							.steps-item.js-step-item(data-step="2")
								.steps-header
									.row
										.col-md-1
											.steps-num 2
										.col-md-10.d-flex.align-items-center
											h5.steps-title Check the details
								.steps-body
									.row
										.col-md-10.offset-md-1
											.steps-content
												.card.-pd-md
													.info-detail.-fz-md.-fb-25
														.info-item
															.info-title You send
															.info-descr 1 BTC
														.info-item
															.info-title You get
															.info-descr 16.30208 ETH
														.info-item
															.info-title Recipient address
															.info-descr 0x123f681646d4a755815f9cb19e1acc8565a0c2ac
														.info-item
															.info-title Expected change rate
															.info-descr 1 BTC ≈ 16.30208 ETH
														.info-item
															.info-title Estimated arrival
															.info-descr ≈ 5-30 minutes
												label.custom-control.fill-checkbox.mt-3.mb-3
													input.fill-control-input(type='checkbox')
													span.fill-control-indicator
													span.fill-control-description 
														| I agree with 
														span.text-primary
															| Terms of Use 
												a(href="javascript:void(0);").btn.btn-lg.btn-primary.js-step-next.-max_width_170 next
							.steps-item.js-step-item(data-step="3")
								.steps-header
									.row
										.col-md-1
											.steps-num 3
										.col-md-10.d-flex.align-items-center
											h5.steps-title Send your funds
								.steps-body
									.row
										.col-md-10.offset-md-1
											.steps-content
												.card.-pd-xs.-info.mb-3
													.info-detail
														.info-message
															img(src="./img/icons/notification.svg", alt="")
															p.fz-16
																| Please use your wallet or exhange to send money to the following address in one transaction or use QR-code
													a(href="javascript:void(0);").btn.btn-white.btn-md Got it!
												.card
													.card-header
														.info-detail.-fz-md.-fb-25
															.info-item
																.info-title Transaction ID
																.info-descr.-copy
																	span.js-info-copy 4c6ae5128244
																	a.btn.btn-white.btn-xs.js-copy-text(data-toggle="tooltip" data-placement="top" data-trigger="manual" data-title="Copied") copy
															.info-item
																.info-title Send
																.info-descr 1 BTC
															.info-item
																.info-title To address
																.info-descr.-copy
																	span.js-info-copy rPujGTiw6nKmMvAiUT6UjpFxT9QrDn9kJP
																	a.btn.btn-white.btn-xs.js-copy-text(data-toggle="tooltip" data-placement="top" data-trigger="manual" data-title="Copied") copy
														.card-qr
															img(src="./img/qr140x140.png", alt="")
													.card-footer
														.info-detail.-fz-md.-fb-25
															.info-item
																.info-title You will recieve
																.info-descr 16.30208 ETH
															.info-item
																.info-title To address
																.info-descr 0x123f681646d4a755815f9cb19e1acc8565a0c2ac
												a(href="javascript:void(0);").btn.btn-lg.btn-primary.js-step-next.mt-3 Not by design ( Just Next step )
							.steps-item.js-step-item(data-step="4")
								.steps-header
									.row
										.col-md-1
											.steps-num 4
										.col-md-10.d-flex.align-items-center
											h5.steps-title Wait for the exchange
								.steps-body
									.row
										.col-md-10.offset-md-1
											.steps-content
												.card.card-timer
													.card-content
														.card-body
															.card-header.-pd-md
																.card-title We are now exchanging your BTC to ETH
															.card-footer
																.info-detail.-fz-md.-fb-25
																	.info-item
																		.info-title Transaction ID
																		.info-descr.-copy
																			span.js-info-copy 4c6ae5128244
																			a.btn.btn-white.btn-xs.js-copy-text(data-toggle="tooltip" data-placement="top" data-trigger="manual" data-title="Copied") copy
																	.info-item
																		.info-title Send
																		.info-descr 1 BTC
																	.info-item
																		.info-title To address
																		.info-descr rPujGTiw6nKmMvAiUT6UjpFxT9QrDn9kJP
														.card-sidebar
															.timer-block
																.timer-title Time passed
																.timer-body
																	.timer-icon
																		img(src="./img/icons/timer.svg", alt="")
																	.timer-num 00:34
												.mt-3
												.card.card-timer
													.card-content
														.card-body
															.card-header.-pd-md
																.card-title.text-danger We are still in a process of exchanging your funds
															.card-footer
																.info-detail.-fz-md.-fb-25
																	.info-item
																		.info-title Transaction ID
																		.info-descr.-copy
																			span.js-info-copy 4c6ae5128244
																			a.btn.btn-white.btn-xs.js-copy-text(data-toggle="tooltip" data-placement="top" data-trigger="manual" data-title="Copied") copy
																	.info-item
																		.info-title Send
																		.info-descr 1 BTC
																	.info-item
																		.info-title To address
																		.info-descr rPujGTiw6nKmMvAiUT6UjpFxT9QrDn9kJP
														.card-sidebar
															.timer-block
																.timer-title Time passed
																.timer-body
																	.timer-icon
																		img(src="./img/icons/timer.svg", alt="")
																	.timer-num.text-danger
																		| >40m
													.card-content_footer
														a.btn.btn-white.btn-md.-max-width_240 Notify me via email
														a.btn.btn-white.btn-md.-max-width_240 Check where my money is
												.mt-3
													.card.card-timer
														.card-content
															.card-body
																.card-header.-pd-md
																	.card-title.text-success Hooray! Your money has been exchanged!
																.card-footer
																	.info-detail.-fz-md.-fb-25
																		.info-item
																			.info-title Transaction ID
																			.info-descr.-copy
																				span.js-info-copy 4c6ae5128244
																				a.btn.btn-white.btn-xs.js-copy-text(data-toggle="tooltip" data-placement="top" data-trigger="manual" data-title="Copied") copy
																		.info-item
																			.info-title Send
																			.info-descr 1 BTC
																		.info-item
																			.info-title To address
																			.info-descr rPujGTiw6nKmMvAiUT6UjpFxT9QrDn9kJP
															.card-sidebar
																.timer-block
																	.timer-title Time passed
																	.timer-body
																		.timer-icon
																			img(src="./img/icons/timer.svg", alt="")
																		.timer-num.text-success 13:29
											a(href="./step-finished.html").btn.btn-lg.btn-primary.mt-3 Not by design ( Just Next step )
							.steps-item.js-step-item(data-step="5")
								.steps-header
									.row
										.col-md-1
											.steps-num 5
										.col-md-10.d-flex.align-items-center
											h5.steps-title Finished
								.steps-body
									.row
										.col-md-10.offset-md-1
											.steps-content
			// CONTENT END
			include modules/footer.pug
			include modules/scripts.pug
