doctype html
html(lang='en')
	head
		title Profile Settings 2 Step On
		meta(name='description', content='Description of the site')
		include modules/head.pug
	body
		include modules/header.pug
		// CONTENT
		.wrap-for-sticky.js-wrap-for-sticky.-bg-secondary
			main.main
				// SECTION PROFILE SETTINGS 2-STEP-ON
				section.section-profile
					.container
						.profile
							.profile-heading
								ul.profile-menu
									li
										a(href="#?")
											| History
									li
										a(class="active" href="#?")
											| Profile settings
							.profile-body
								.profile-settings
									.row
										.col-md-4.right-line
											.profile-settings-item
												h5.dark-blue Change password
												form(action="javascript:void(0);").form
													.form-group
														input(type="password" class="form-control" id="old-pass" placeholder="Old password" required)
														label(class="form-label" for="old-pass") Old password
													.form-group
														input(type="password" class="form-control" id="new-pass" placeholder="New password" required)
														label(class="form-label" for="new-pass") New password
													.form-group
														input(type="password" class="form-control" id="new-pass-again" placeholder="New password again" required)
														label(class="form-label" for="new-pass-again") New password again
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
										.col-md-4.right-line
											.profile-settings-item
												.d-flex.justify-content-between
													h5.dark-blue Two-step verification
													.onoffswitch
														input( type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="myonoffswitch2" checked)
														label(class="onoffswitch-label" for="myonoffswitch2")
															span.onoffswitch-inner
																span.onoffswitch-switch
												.profile-settings-qr
													.qr-img-wrap
														img(src="img/qr.png")
													.qr-descr
														p Scan QR code in 
															a(href="") Google Authenticator
														p Or type the key manually
														span KVVWGY3QNNVTSOLZ
												form(action="javascript:void(0);").form
													.form-group
														input(type="tel" class="form-control" id="qr-code" placeholder="Verification code" required)
														label(class="form-label" for="qr-code") Verification code
													.form-btn-wrap
														input(type="submit" value="Enable" class="btn btn-white btn-md")
										.col-md-4
											.profile-settings-item
												h5.dark-blue Change email address
												form(action="javascript:void(0);").form
													.form-group
														input(type="email" class="form-control active" id="current-email" placeholder="Current email" value="testuser@gmail.com" required)
														label(class="form-label active" for="current-email") Current email
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
				// SECTION PROFILE SETTINGS 2-STEP-ON END





			// CONTENT END
			include modules/footer.pug
			include modules/scripts.pug