doctype html
html(lang='en')
	head
		title Profile History No Transactions
		meta(name='description', content='Description of the site')
		include modules/head.pug
	body
		include modules/header.pug
		// CONTENT
		.wrap-for-sticky.js-wrap-for-sticky.-bg-secondary
			main.main
				// SECTION PROFILE HISTORY NO TRANSACTIONS
				section.section-profile
					.container
						.profile
							.profile-heading
								ul.profile-menu
									li
										a(class="active" href="#?")
											| History
									li
										a(href="#?")
											| Profile settings
							.profile-body
								.no-transactions.text-center
									h5 Whoops...
									span Seems like you have no transactions yet
									a(class="btn btn-primary btn-lg" href="#?") Make a first transaction
				// SECTION PROFILE HISTORY NO TRANSACTIONS END
			// CONTENT END
			include modules/footer.pug
			include modules/scripts.pug