doctype html
html(lang='en')
	head
		title ShiftNow
		meta(name='description', content='Description of the site')
		include modules/head.pug
	body
		include modules/header.pug
		// CONTENT
		.wrap-for-sticky.js-wrap-for-sticky
			main.main
				// SECTION PROFILE HISTORY
				section.section-profile
					.container
						.profile
							.profile-heading
								ul.profile-menu
									li
										a(class="active" href="#?")
											| History
									li
										a(href="#?")
											| Profile settings
							.profile-body
								.profile-table
									.profile-table-row.-heading
										.profile-table-cell
											span Status
										.profile-table-cell
											span Date
										.profile-table-cell
											span Exchange amount
										.profile-table-cell
											span Total fee
										.profile-table-cell
											span Exchange rate
										.profile-table-cell
											span Receiver
										.profile-table-cell
											span Amount receives
									.profile-table-row
										.profile-table-cell
											span 
												i.icon-complete
										.profile-table-cell
											span 01 Jan 2017, 02:58:04
										.profile-table-cell
											span 1 BTC
										.profile-table-cell
											span 0.001155 ETH
										.profile-table-cell
											span 1 BTC ≈ 16.30208 ETH
										.profile-table-cell
											span 0x123f6816…
										.profile-table-cell
											span.rate-up 16.30208 ETH
									.profile-table-row
										.profile-table-cell
											span 
												i.icon-failed
										.profile-table-cell
											span 01 Jan 2017, 02:58:04
										.profile-table-cell
											span 500 ETH
										.profile-table-cell
											span 3.17138788 DASH
										.profile-table-cell
											span 1 ETH ≈ 1.26855515 DASH
										.profile-table-cell
											span 0x123f6816…
										.profile-table-cell
											span.rate-down 631.10619 DASH
									.profile-table-row
										.profile-table-cell
											span 
												i.icon-not-received
										.profile-table-cell
											span 01 Jan 2017, 02:58:04
										.profile-table-cell
											span 3 500 XRP
										.profile-table-cell
											span 3 075 DOGE
										.profile-table-cell
											span 1 XRP ≈ 175.71428571 DOGE
										.profile-table-cell
											span 0x123f6816…
										.profile-table-cell
											span
									.profile-table-row
										.profile-table-cell
											span 
												i.icon-refunded
										.profile-table-cell
											span 01 Jan 2017, 02:58:04
										.profile-table-cell
											span 11 590 LTC
										.profile-table-cell
											span 0.001155 ETH
										.profile-table-cell
											span 1 LTC ≈ 510.582507 XEM
										.profile-table-cell
											span 0x123f6816…
										.profile-table-cell
											span.rate-blue 11 590 LTC
				.empty-div(style="padding-bottom: 10px")
				// SECTION PROFILE HISTORY END

				// SECTION PROFILE HISTORY NO TRANSACTIONS
				section.section-profile
					.container
						.profile
							.profile-heading
								ul.profile-menu
									li
										a(class="active" href="#?")
											| History
									li
										a(href="#?")
											| Profile settings
							.profile-body
								.no-transactions.text-center
									h5 Whoops...
									span Seems like you have no transactions yet
									a(class="btn btn-primary btn-lg" href="#?") Make a first transaction
				.empty-div(style="padding-bottom: 10px")
				// SECTION PROFILE HISTORY NO TRANSACTIONS END

				// SECTION PROFILE SETTINGS 2-STEP-OFF
				section.section-profile
					.container
						.profile
							.profile-heading
								ul.profile-menu
									li
										a(href="#?")
											| History
									li
										a(class="active" href="#?")
											| Profile settings
							.profile-body
								.profile-settings
									.row
										.col-md-4.right-line
											.profile-settings-item
												h5.dark-blue Change password
												form.form
													.form-group
														input(type="password" class="form-control" id="old-pass" placeholder="Old password")
														label(class="form-label" for="old-pass") Old password
													.form-group
														input(type="password" class="form-control" id="new-pass" placeholder="New password")
														label(class="form-label" for="new-pass") New password
													.form-group
														input(type="password" class="form-control" id="new-pass-again" placeholder="New password again")
														label(class="form-label" for="new-pass-again") New password again
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
										.col-md-4.right-line
											.profile-settings-item
												.d-flex.justify-content-between
													h5.dark-blue Two-step verification
													.onoffswitch
														input( type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch")
														label(class="onoffswitch-label" for="myonoffswitch")
															span.onoffswitch-inner
																span.onoffswitch-switch
												.profile-settings-text
													p With 2-Step verification, you protect your account with both your password and your phone. To log in into account or withdraw funds you will require a separate code that you will get in the Google Authenticator app.
													p Download app:
													.btn-wrap
														a(class="btn btn-secondary btn-md btn-icon" href="#?") 
															span
																i.icon-i-os
																| iOS
														a(class="btn btn-secondary btn-md btn-icon" href="#?") 
															span
																i.icon-android
																| Android
										.col-md-4
											.profile-settings-item
												h5.dark-blue Change email address
												form.form
													.form-group
														input(type="email" class="form-control active" id="current-email" placeholder="Current email" value="testuser@gmail.com")
														label(class="form-label active" for="current-email") Current email
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
				.empty-div(style="padding-bottom: 10px")
				// SECTION PROFILE SETTINGS 2-STEP-OFF END

				// SECTION PROFILE SETTINGS 2-STEP-ON
				section.section-profile
					.container
						.profile
							.profile-heading
								ul.profile-menu
									li
										a(href="#?")
											| History
									li
										a(class="active" href="#?")
											| Profile settings
							.profile-body
								.profile-settings
									.row
										.col-md-4.right-line
											.profile-settings-item
												h5.dark-blue Change password
												form.form
													.form-group
														input(type="password" class="form-control" id="old-pass" placeholder="Old password")
														label(class="form-label" for="old-pass") Old password
													.form-group
														input(type="password" class="form-control" id="new-pass" placeholder="New password")
														label(class="form-label" for="new-pass") New password
													.form-group
														input(type="password" class="form-control" id="new-pass-again" placeholder="New password again")
														label(class="form-label" for="new-pass-again") New password again
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
										.col-md-4.right-line
											.profile-settings-item
												.d-flex.justify-content-between
													h5.dark-blue Two-step verification
													.onoffswitch
														input( type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="myonoffswitch2" checked)
														label(class="onoffswitch-label" for="myonoffswitch2")
															span.onoffswitch-inner
																span.onoffswitch-switch
												.profile-settings-qr
													.qr-img-wrap
														img(src="img/qr.png")
													.qr-descr
														p Scan QR code in 
															a(href="") Google Authenticator
														p Or type the key manually
														span KVVWGY3QNNVTSOLZ
												form.form
													.form-group
														input(type="tel" class="form-control" id="qr-code" placeholder="Verification code")
														label(class="form-label" for="qr-code") Verification code
													.form-btn-wrap
														input(type="submit" value="Enable" class="btn btn-white btn-md")
										.col-md-4
											.profile-settings-item
												h5.dark-blue Change email address
												form.form
													.form-group
														input(type="email" class="form-control active" id="current-email" placeholder="Current email" value="testuser@gmail.com")
														label(class="form-label active" for="current-email") Current email
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
				.empty-div(style="padding-bottom: 10px")
				// SECTION PROFILE SETTINGS 2-STEP-ON END

				// SECTION PROFILE SETTINGS 2-STEP-ON-ENABLED
				section.section-profile
					.container
						.profile
							.profile-heading
								ul.profile-menu
									li
										a(href="#?")
											| History
									li
										a(class="active" href="#?")
											| Profile settings
							.profile-body
								.profile-settings
									.row
										.col-md-4.right-line
											.profile-settings-item
												h5.dark-blue Change password
												form.form
													.form-group
														input(type="password" class="form-control" id="old-pass" placeholder="Old password")
														label(class="form-label" for="old-pass") Old password
													.form-group
														input(type="password" class="form-control" id="new-pass" placeholder="New password")
														label(class="form-label" for="new-pass") New password
													.form-group
														input(type="password" class="form-control" id="new-pass-again" placeholder="New password again")
														label(class="form-label" for="new-pass-again") New password again
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
										.col-md-4.right-line
											.profile-settings-item
												.d-flex.justify-content-between
													h5.dark-blue Two-step verification
													.onoffswitch
														input( type="checkbox" name="onoffswitch3" class="onoffswitch-checkbox" id="myonoffswitch3" checked)
														label(class="onoffswitch-label" for="myonoffswitch3")
															span.onoffswitch-inner
																span.onoffswitch-switch
												.profile-settings-text
													p Verification code from 
														a(href="#?") Google Authenticator 
														| app will be required for:
													ul
														li Logging in.
														li Changing password.
														li Changing sensitive payment information like BTC payout address.
										.col-md-4
											.profile-settings-item
												h5.dark-blue Change email address
												form.form
													.form-group
														input(type="email" class="form-control active" id="current-email" placeholder="Current email" value="testuser@gmail.com")
														label(class="form-label active" for="current-email") Current email
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
				.empty-div(style="padding-bottom: 10px")
				// SECTION PROFILE SETTINGS 2-STEP-ON-ENABLED END

				// SECTION PROFILE SETTINGS 2-STEP-ON-DISABLED
				section.section-profile
					.container
						.profile
							.profile-heading
								ul.profile-menu
									li
										a(href="#?")
											| History
									li
										a(class="active" href="#?")
											| Profile settings
							.profile-body
								.profile-settings
									.row
										.col-md-4.right-line
											.profile-settings-item
												h5.dark-blue Change password
												form.form
													.form-group
														input(type="password" class="form-control" id="old-pass" placeholder="Old password")
														label(class="form-label" for="old-pass") Old password
													.form-group
														input(type="password" class="form-control" id="new-pass" placeholder="New password")
														label(class="form-label" for="new-pass") New password
													.form-group
														input(type="password" class="form-control" id="new-pass-again" placeholder="New password again")
														label(class="form-label" for="new-pass-again") New password again
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
										.col-md-4.right-line
											.profile-settings-item
												.d-flex.justify-content-between
													h5.dark-blue Two-step verification
													.onoffswitch
														input( type="checkbox" name="onoffswitch4" class="onoffswitch-checkbox" id="myonoffswitch4")
														label(class="onoffswitch-label" for="myonoffswitch4")
															span.onoffswitch-inner
																span.onoffswitch-switch
												.profile-settings-text
													p Enter password and verification code to disable Two-step verification:
													form.form
														.form-group
															input(type="password" class="form-control" id="account-pass" placeholder="Account password")
															label(class="form-label" for="account-pass") Account password
														.form-group
															input(type="password" class="form-control" id="verification-code-1" placeholder="Verification code")
															label(class="form-label" for="verification-code-1") Verification code
														.form-btn-wrap
															input(type="submit" value="Disable" class="btn btn-white btn-md")
															input(type="submit" value="Cancel" class="btn btn-secondary btn-md")
										.col-md-4
											.profile-settings-item
												h5.dark-blue Change email address
												form.form
													.form-group
														input(type="email" class="form-control active" id="current-email" placeholder="Current email" value="testuser@gmail.com")
														label(class="form-label active" for="current-email") Current email
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
				.empty-div(style="padding-bottom: 10px")
				// SECTION PROFILE SETTINGS 2-STEP-ON-DISABLED END





			// CONTENT END
			include modules/footer.pug
			include modules/scripts.pug