doctype html
html(lang='en')
	head
		title Profile Settings 2 Step On Disabled
		meta(name='description', content='Description of the site')
		include modules/head.pug
	body
		include modules/header.pug
		// CONTENT
		.wrap-for-sticky.js-wrap-for-sticky.-bg-secondary
			main.main
				// SECTION PROFILE SETTINGS 2-STEP-ON-DISABLED
				section.section-profile
					.container
						.profile
							.profile-heading
								ul.profile-menu
									li
										a(href="#?")
											| History
									li
										a(class="active" href="#?")
											| Profile settings
							.profile-body
								.profile-settings
									.row
										.col-md-4.right-line
											.profile-settings-item
												h5.dark-blue Change password
												form(action="javascript:void(0);").form
													.form-group
														input(type="password" class="form-control" id="old-pass" placeholder="Old password" required)
														label(class="form-label" for="old-pass") Old password
													.form-group
														input(type="password" class="form-control" id="new-pass" placeholder="New password" required)
														label(class="form-label" for="new-pass") New password
													.form-group
														input(type="password" class="form-control" id="new-pass-again" placeholder="New password again" required)
														label(class="form-label" for="new-pass-again") New password again
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
										.col-md-4.right-line
											.profile-settings-item
												.d-flex.justify-content-between
													h5.dark-blue Two-step verification
													.onoffswitch
														input( type="checkbox" name="onoffswitch4" class="onoffswitch-checkbox" id="myonoffswitch4")
														label(class="onoffswitch-label" for="myonoffswitch4")
															span.onoffswitch-inner
																span.onoffswitch-switch
												.profile-settings-text
													p Enter password and verification code to disable Two-step verification:
													form(action="javascript:void(0);").form
														.form-group
															input(type="password" class="form-control" id="account-pass" placeholder="Account password" required)
															label(class="form-label" for="account-pass") Account password
														.form-group
															input(type="password" class="form-control" id="verification-code-1" placeholder="Verification code" required)
															label(class="form-label" for="verification-code-1") Verification code
														.form-btn-wrap
															input(type="submit" value="Disable" class="btn btn-white btn-md")
															input(type="submit" value="Cancel" class="btn btn-secondary btn-md")
										.col-md-4
											.profile-settings-item
												h5.dark-blue Change email address
												form(action="javascript:void(0);").form
													.form-group
														input(type="email" class="form-control active" id="current-email" placeholder="Current email" value="testuser@gmail.com" required)
														label(class="form-label active" for="current-email") Current email
													.form-btn-wrap
														input(type="submit" value="Save" class="btn btn-white btn-md")
				.empty-div(style="padding-bottom: 10px")
				// SECTION PROFILE SETTINGS 2-STEP-ON-DISABLED END
			// CONTENT END
			include modules/footer.pug
			include modules/scripts.pug