doctype html
html(lang='en')
	head
		title Profile Settings 2 Step Off
		meta(name='description', content='Description of the site')
		include modules/head.pug
	body
		include modules/header.pug
		// CONTENT
		.wrap-for-sticky.js-wrap-for-sticky.-bg-secondary
			main.main
				section.section-steps
					.container
						.row
							.col-md-10.offset-md-1
								.card
									.card-header
										h3.text-success Transaction is completed!
										.info-detail
											.info-item.mb-0
												.info-title You send
												.info-descr 1 BTC
			// CONTENT END
			include modules/footer.pug
			include modules/scripts.pug