.btn {
	color: #fff;
	line-height: 1;
	position: relative;
	&-lg {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		padding: 22px 20px 18px;
		min-width: 350px;
		font-weight: 700;
		&.-max_width_170{
			max-width: 170px;
			width: 100%;
			min-width: inherit;
		}
	}
	&-xs{
		padding: 2px 9px;
	}
	&-md {
		min-width: 112px;
		font-weight: 700;
		padding: 13px 12px 11px;
	}
	&:hover {
		box-shadow: 0 2px 10px 0 rgba(0, 153, 247, 0.5);
	}
	&-primary {
		color: #fff;
		&:hover {
			background-color: $primary;
			border-color: $primary;
			color: #fff;
		}
		&:active {
			background-color: #0082d3;
			border-color: #0082d3;
			&:focus {
				box-shadow: 0 2px 10px 0 rgba(0, 153, 247, 0.5) !important;
			}
		}
	}
	&-white {
		color: $light-blue;
		border-color: $light-blue;
		background-color: #fff;
		&:hover {
			color: $light-blue;
		}
		&:active {
			background-color: rgba(0, 153, 247, 0.2);
		}
		&.disabled,
		&[disabled] {
			background-color: $light;
			border-color: #9b9b9b;
			box-shadow: none;
			color: #9b9b9b;
			opacity: 1;
		}
	}
	&-secondary {
		color: #333;
		&:hover,
		&:active,
		&:focus {
			box-shadow: none !important;
			border-color: $light-blue !important;
			background-color: $secondary !important;
		}
	}
	&-icon {
		span {
		position: relative;
			padding-left: 24px;
			display: inline-block;
		}
		i {
			position: absolute;
			left: 0;
			top: -6px;
			font-size: 24px;
		}
	}
	&-icon-right {
		span {
			width: 100%;
			display: block;
			position: relative;
			i {
				position: absolute;
				right: 0;
				top: 45%;
				transform: translateY(-50%);
				font-size: 22px;
			}
		}
	}
}

.white-link {
	color: #fff;
	transition: all .15s;
	line-height: 1;
	&:hover {
		color: $light-blue;
		text-decoration: none;
	}
}

.big-button-wrap {
	max-width: 970px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: #fff;
	padding: 30px 10px;
	border-radius: 60px;
}

a {
	img {
		display: block;
	}
}


