.currency{
	&-item{
		display: flex;
		align-items: center;
		&.-lg{
			& .currency{
				&-title{
					font-size: 20px;
					font-weight: 400;
				}
				&-icon{
					font-size: 20px;
					margin-right: 7px;
				}
			}
		}
		&.-currency-link{
			cursor: pointer;
			padding: 15px 8px;
			&:hover{
				background: $secondary;
				text-decoration: none;
				& .currency{
					&-title{
						color: #333333;
					}
				}
			}
		}
		&.currency-info{
			display: inline-block;
			flex-grow: 1;
			padding: 0 15px;
			margin: 8px 0;
			border-right: 1px solid rgba(#fff, .2);
			& .currency{
				&-title{
					font-weight: 400;
					color: #fff;
					text-transform: inherit;
				}
			}
		}
		&_name{
			display: flex;
		}
		&_top{
			display: flex;
			justify-content: space-between;
			margin-bottom: 5px;
		}
		&_bot{
			display: flex;
			justify-content: space-between;
			align-items: center;
			&.-green{
				color: $green;
			}
			&.-red{
				color: $danger;
			}
		}
		&_status{
			font-size: 12px;
			&.-percent{
				font-size: 14px;
				padding-left: 5px;
				& span{
					margin-left: 15px;
				}
			}
		}
		&_total_price{
			color: $darkGrey;
			font-size: 12px;
		}
	}
	&-title{
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		min-width: 40px;
		color: #333333;
	}
	&-icon{
			display: flex;
			align-items: center;
			transform: translateY(-2px);
			font-size: 20px;
			margin-right: 7px;
	}
	&-subtitle{
		margin-left: 5px;
		font-size: 14px;
		color: $darkGrey;
	}
	&-container{
		margin-top: 120px;
		display: flex;
		flex-wrap: wrap;
		background: rgba(#000 , .3);
	}
}