.form-group{
	&_wrapper{
		position: relative;
		display: flex;
	}
}

.custom{
	&-acc{
		&_header{
			& button{
				background: transparent;
				border: none;
				box-shadow: none;
				padding: 0;
				&:hover,
				&:active,
				&:focus{
					background: transparent;
					box-shadow: none !important;
					text-decoration: none;
					& i {
						color: #fff;
					}

				}
				&[aria-expanded="true"]{
					& .custom-acc{
						&_icon{
							& i {
								&.-open{
									opacity: 0;
			    			}
			    			&.-close{
									opacity: 1;
			    			}
							}
						}
					}
				}
			}
		}
		&_body{

		}
		&_title{
				border-bottom: 1px dashed $primary;
				color: #fff;
				margin-left: 10px;	
		}
		&_icon{
				border: 1px solid #E6E6E6;
				border-radius: 50%;
				font-size: 18px;
  			vertical-align: inherit;
  			width: 20px;
  			height: 20px;
  			position: relative;
  			display: inline-block;
  			text-align: center;
			& i {
				position: absolute;
  			top: 0;
  			left: 0;
				transition: all .3s;
    			&.-open{
						opacity: 1;
    			}
    			&.-close{
						opacity: 0;
    			}
				
			}
		}
	}
	&-select{
		text-transform: uppercase;
		height: 56px;
		background: transparent;
		display: flex;
		align-items: center;
		border-radius: 0;
		border: none;
		width: 140px;
		background: #fff;
		color: #000;
		cursor: pointer;
		position: relative;
		text-transform: uppercase;
		font-size: 20px;
		& .-icon-open{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			color: $primary;
			font-size: 14px;
		}
	}
	&-dropdown{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 2;
		display: block;
		background-color: #fffefe;
  	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
		display: none;
		&_close{
			background: red;
			position: absolute;
			right: 10px;
			color: $primary;
			z-index: 5;
			height: 56px;
			top: 0;
			right: 0;
			width: 28px;
			background: transparent;
		}
		&_search.form-control.form-control-lg{
			padding-right: 30px;
			border-bottom: 1px solid $secondary;
			font-size: 16px;
			font-weight: 400;
		}
		&_title{
			font-weight: 400;
			color: #333333;
			margin-top: 10px;
			margin-bottom: 20px;
			padding: 0 15px;
		}
		&_content{
			& .row{
				& .col-6{
					max-height: 430px;
					overflow-y: auto;
				}
				& .col-6:first-child{
						border-right: 1px solid $secondary;
				}
			}
		}
	}
}



.form{
	&-control{
		&.form-control-lg {
			border-radius: 0;
			height: 56px;
			border: none;
			padding: 15px;
			font-size: 20px;
			font-weight: 700;
			&.-submit{
				padding-left: 60px;
			}
			&.-custom-select{
				border-right: 1px solid #e6e6e6;
			}
			&.-bg-transparent{
				background: rgba(#fffefe , .1);
				color: #fff;
			}
		}
	}
	&-group{
		position: relative;
		flex-grow: 1;
		&.-search{
			& .form-control{
				&_icon{
					color: $darkGrey;
				}
			}
		}
		&.-icon{
			& .form-control{
					padding-left: 50px;
					&_icon{
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 16px;
						font-size: 16px;
					}
			}
		}
		& .btn-submit{
			position: absolute;
			font-weight: bold;
			text-transform: uppercase;
			left: 20px;
			line-height: 56px;
			top: 0;
			bottom: 0;
			left: 0;
			width: 55px;
			text-align: right;
			color: $primary;
			background: transparent;
		}
	}
}
