.dropdown {
	.btn-dropdown {
		padding: 30px 15px 30px 15px;
		color: #fff;
		display: flex;
		background-color: rgba($light-blue, .2);
		min-width: 145px;
		&:hover {
			text-decoration: none;
		}
		span {
			display: block;
			flex-grow: 1;
			position: relative;
			i {
				position: absolute;
				top: 45%;
				right: 0;
				transform: translateY(-50%);
				color: $light-blue;
				font-size: 12px;
			}
		}
	}
	.custom-dropdown-menu {
		margin: 0;
		left: 0;
		right: 0;
		padding: 0;
		border-radius: 0;
		min-width: 0;
		max-width: 100%;
		max-height: 310px;
		overflow-y: auto;
	}
	.dropdown-item {
		display: flex;
		align-items: center;
		padding: 10px 15px;
		font-weight: 700;
		line-height: 1;
		border-bottom: 1px solid #f5f5f5;
		&:last-child {
			border: none;
		}
		&:hover {
			background-color: #f5f5f5;
		}
	}
}
.flag-img-wrap {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
}