.footer {
	color: #fff;
	background-color: $dark-blue;
	padding: 80px 0 75px;
	&.-sticky {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
	&-left {
		&-top {
			display: flex;
			align-items: flex-end;
			padding-bottom: 40px;
			a {
				display: block;
				margin-right: 45px;
			}
		}
		&-bottom {
			padding-top: 40px;
			span {
				opacity: .5;
			}
		}
	}
	&-menu {
		padding-top: 10px;
		&-heading {
			opacity: .5;
			font-weight: 400;
			letter-spacing: 1px;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}
		ul {
			li {
				margin-bottom: 10px;
				a {
					color: $light;
				}
			}
		}
	}
}


@media screen and (max-width:1199px) {
	.footer {
		padding: 3rem 0;
	}
}

@media screen and (max-width:991px) {
	.footer {
		padding: 2rem 0;
		&-left {
			padding-bottom: 2rem;
			&-top {
				padding-bottom: 1rem;
			}
			&-bottom {
				padding-top: 0;
			}
		}
		&-menu {
			padding: 0;
			margin-bottom: 1.5rem;
			ul {
				li {
					margin-bottom: .5rem;
				}
			}
		}
	}
}

@media screen and (max-width:575px) {

}