.header {
	.navbar {
		background-image: url(../img/main-bg.png);
		background-size: cover;
		background-position: 0 0;
		background-repeat: no-repeat;
		padding: 0 15px;
		color: #fff;
		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;
			opacity: .3;
			z-index: 1;
		}
	}
	.navbar-inner {
		position: relative;
		display: flex;
		width: 100%;
		z-index: 2;
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	.navbar-brand {
		padding: 0;
		// display: block;
		line-height: 1;
		padding-bottom: 4px;
	}
	.menu-wrap {
		display: flex;
		width: 100%;
		align-items: center;
	}
	.main-menu {
		.nav-item {
			padding-right: 45px;
			&:last-child {
				padding-right: 50px;
			}
		}
		a {
			line-height: 1;
			color: #fff;
			transition: all .3s;
			text-decoration: none;
			&:hover {
				color: $light-blue;
			}
		}
	}
	& .dropdown{
		& .btn-dropdown{
			& .icon-drop{
				transition: all .3s;
			}
			&[aria-expanded="true"]{
				& .icon-drop{
			    transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}
}

@media (max-width: 991px){
	.header{
		& .navbar-inner{
			padding: 11px 0;
			& .container{
				padding: 0;
				justify-content: space-between;
			}
		}
		& .menu-wrap{
			display: block;
			text-align: center;
		}
		& .main-menu{
			& .nav-item{
				padding-right: 0 !important;
			}
			& a{
				display: block;
				padding: 15px 0;
			}
		}
		& .dropdown {
			display: inline-block;
			text-align: left;
			& .btn-dropdown{
				padding: 10px 10px;
			}
			& .dropdown-menu{
				position: static;
				max-width: 100%;
				width: 100%;
			}
		}
	}
}