.info{
	&-detail{
		width: 100%;
		&.-full-height{
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
		}
		&.-fz-md{
			& .info{
				&-title{
					font-size: 16px;
				}
				&-descr{
					font-size: 18px;
				}
			}
		}
		&.-fb-25{
			& .info{
				&-title{
					flex-basis: 200px;
				}
			}
		}
	}
	&-item{
		margin-bottom: 20px;
		display: flex;
		width: 100%;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&-title{
		flex-basis: 40%;
	}
	&-descr{
		font-weight: 700;
		&.-copy{
			display: flex;
			align-items: center;
			& .btn{
				margin-left: 15px;
				margin-top: -1px;
			}
		}
	}
	&-message{
		display: flex;
		align-items: center;
		& img {
			flex-basis: 20px;
			width: 20px;
			height: 20px;
			margin-right: 20px;
		}
	}
}