.social-links {
	display: flex;
	li {
		margin-right: 36px;
		&:last-child {
			margin: 0;
		}
	}
	a {
		display: block;
		font-size: 1.5rem;
		opacity: .5;
		transition: all .15s;
		span {
			display: block;
		}
		&:hover {
			opacity: 1;
		}
	}
}

@media screen and (max-width:575px) {
	.social-links {
		justify-content: space-between;
		li {
			margin: 0;
		}
	}
}