// HEADER
header.header
    nav.navbar.navbar-expand-lg.fixed-top
      .navbar-inner
        .container
          a(class='navbar-brand' href='#?')
            img(src='img/home-light.svg' alt='shiftnow')
          button(class="navbar-toggler JS_open-menu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.fa.fa-bars
          .collapse.navbar-collapse#navbarSupportedContent
            .menu-wrap
              ul.main-menu.navbar-nav.ml-auto
                li.nav-item
                  a(href='#?') How it works
                li.nav-item
                  a(href='#?') FAQ
                li.nav-item
                  a(href='#?') Support
                li.nav-item
                  a(href='#?') About Us
                li.nav-item
                  a(href='#?') Sign In
              .drop
// HEADER END




