// HEADER
header.header
		// HEADER NAVIGATION
		nav.navbar.navbar-expand-lg.fixed-top
			.navbar-inner
				.container
					a(class='navbar-brand' href='index.html')
						img(src='img/home-light.svg' alt='shiftnow')
					button(class="navbar-toggler JS_open-menu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
						span.fa.fa-bars
					.collapse.navbar-collapse#navbarSupportedContent
						.menu-wrap
							ul.main-menu.navbar-nav.ml-auto
								li.nav-item
									a(href='how-it-works.html') How it works
								li.nav-item
									a(href='faq.html') FAQ
								li.nav-item
									a(href='#?') Support
								li.nav-item
									a(href='about.html') About Us
								li.nav-item
									a(href='profile-history.html') Profile
								li.nav-item
									a(href='javascript:void(0);' data-toggle="modal" data-target="#sign-in-modal") Sign In
							.dropdown.show
								a(class="btn-dropdown" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
									.flag-img-wrap
										img(src='img/flags/usa.svg' alt='lang')
									span
										| English
										i.icon-angle-down
								div(class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownLanguage")
									a(class="dropdown-item" href="#?")
										.flag-img-wrap
											img(src='img/flags/arab.svg' alt='lang')
										span
											| العربية
									a(class="dropdown-item" href="#?")
										.flag-img-wrap
											img(src='img/flags/spain.svg' alt='lang')
										span
											| Español
									a(class="dropdown-item" href="#?")
										.flag-img-wrap
											img(src='img/flags/france.svg' alt='lang')
										span
											| Français
									a(class="dropdown-item" href="#?")
										.flag-img-wrap
											img(src='img/flags/german.svg' alt='lang')
										span
											| Deutsch
									a(class="dropdown-item" href="#?")
										.flag-img-wrap
											img(src='img/flags/portugal.svg' alt='lang')
										span
											| Portugues
									a(class="dropdown-item" href="#?")
										.flag-img-wrap
											img(src='img/flags/rus.svg' alt='lang')
										span
											| Русский
									a(class="dropdown-item" href="#?")
										.flag-img-wrap
											img(src='img/flags/vietnam.svg' alt='lang')
										span
											| Tiếng Việt
									a(class="dropdown-item" href="#?")
										.flag-img-wrap
											img(src='img/flags/india.svg' alt='lang')
										span
											| भारतीय
		// HEADSER NAVIGATION END

		include modal.pug


// HEADER END
// HEADER END
// HEADER END