// MODAL SIGN IN
div(class="modal fade custom-modal" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
	div(class="modal-dialog modal-dialog-centered" role="document")
		.modal-content
			.modal-body
				.row
					.col-md-6.right-line.-modal
						.modal-left
							.modal-heading
								h5.dark-blue Join for free
								p.modal-subtitle to exchange crypto instantly now!
							form(action="javascript:void(0);").form
								.form-group
									input(type="email" class="form-control is-valid active" id="sign-email" placeholder="Your email" value="testuser@gmail.com" required)
									label(class="form-label active" for="sign-email") Your email
								.form-group
									input(type="password" class="form-control is-invalid active" id="sign-pass" placeholder="Your password" value="password" required)
									label(class="form-label active" for="sign-pass") Your password
								.form-btn-wrap.d-flex.justify-content-between
									input(type="submit" value="Sign up" class="btn btn-primary btn-md min-w-9")
									input(type="submit" value="I have account" class="btn btn-secondary btn-md min-w-9" data-dismiss="modal" data-toggle="modal" data-target="#login-modal")
					.col-md-6
						.modal-right
							.modal-heading
								h5.dark-blue No, I’m anonymous
								p.modal-subtitle Sad to say, but you won't get the following items:
							ul
								li History of transactions
								li Full assistance with problem transactions
								li Transaction refund
							a(href="javascript:void(0);" data-dismiss="modal" data-toggle="modal" data-target="#dialog-modal").btn.btn-white.btn-md.btn-block
								| Continue anonymously 
								i.icon-silence
				button(type="button" class="close" data-dismiss="modal" aria-label="Close") 
					i.icon-close-grey
// MODAL SIGN IN END

// MODAL REGISTER
div(class="modal fade custom-modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
	div(class="modal-dialog modal-dialog-centered" role="document")
		.modal-content
			.modal-body
				.row
					.col-md-6.right-line.-modal
						.modal-left
							.modal-heading
								h5.dark-blue Welcome back!
							form(action="javascript:void(0);").form
								.form-group
									input(type="email" class="form-control" id="login-email" placeholder="Your email" required)
									label(class="form-label" for="login-email") Your email
								.form-group
									input(type="password" class="form-control" id="login-pass" placeholder="Your password" required)
									label(class="form-label" for="login-pass") Your password
								.form-btn-wrap.d-flex.justify-content-between
									input(type="submit" value="Login" class="btn btn-primary btn-md min-w-9")
									input(type="submit" value="Register" class="btn btn-secondary btn-md min-w-9"  data-dismiss="modal" data-toggle="modal" data-target="#sign-in-modal")
					.col-md-6
						.modal-right
							.modal-heading
								h5.dark-blue No, I’m anonymous
								p.modal-subtitle Sad to say, but you won't get the following items:
							ul
								li History of transactions
								li Full assistance with problem transactions
								li Transaction refund
							a(href="javascript:void(0);" data-dismiss="modal" data-toggle="modal" data-target="#dialog-modal").btn.btn-white.btn-md.btn-block
								| Continue anonymously 
								i.icon-silence
				button(type="button" class="close" data-dismiss="modal" aria-label="Close") 
					i.icon-close-grey
// MODAL REGISTER END

// MODAL DIALOG
div(class="modal fade custom-modal -dialog" id="dialog-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
	div(class="modal-dialog modal-sm" role="document")
		.modal-content
			.modal-body
				.modal-text
					h5.dark-blue Warning head text
					p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci.
				.modal-text-btn-wrap
					a(href="javascript:void(0);" data-dismiss="modal").btn.btn-primary.btn-md.min-w-10 OK
					a(href="javascript:void(0);" data-dismiss="modal").btn.btn-secondary.btn-md.min-w-10 Cancel
// MODAL DIALOG END